body {

    margin: 0;
    height: 100vh;
    display: grid;
    /*grid-template-rows: auto 1fr auto;*/
    }

* {
    box-sizing: border-box;
}

header {
    background-color: #4a4a4a;
    color: blanchedalmond;
    text-align: center;
    padding: 10px;
    /*min-height:50px;*/
}

main {
    background-color: steelblue;
    padding: 10px;
}

footer {
    margin-top: 0;
    background-color: lightblue;
    padding: 10px;
    /*min-height: 50px;*/

}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

.columns {
    display: flex;
}

.column {
    padding: 10px;
}

.navigation {
    border-right: black solid 1px;
    font-family: sans-serif;
}

.list-without-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid-box {
    /*width: 100vw;
    height: 100vh;*/
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    padding: 10px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 2;
}


.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
}